@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    padding: 1em 1em;
/*    --color-2: hsl(198, 18%, 64%);*/
    color: hsl(199, 29%, 51%);
}
h1, h2, h3, h4{
    font-family: 'Roboto Slab', Candara, 'Times New Roman', serif;
    font-size: 2em;
}
p{
    
}
.container{
    max-width: 1500px;
}
.subnav{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
.subnav a{
    margin: 0 1em;
    color: hsl(198, 18%, 64%);
/*    color: var(--color-2);*/
}
.mainnav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}
.mainnav a{
    margin: 0 0.5em;
    color: hsl(198, 18%, 64%);
/*    color: var(--color-2);*/
}
.masthead{
    
}
.times-logo{
    width: 100%;
    max-width: 1500px;
}
.masthead h1{
    font-size:2.5em;
}
.content{
    
}
.content .story{
    clear: both;
    overflow: auto;
}
.story.lead-story:hover h1{
    text-decoration:underline;
}
h1.story-title{
    margin-top: 1.5em;
    
}
.story img{
    float: left;
    margin-right: 1em;
    max-width: 400px;
    width: 200px;
}
.story p{
    
}
.story blockquote{
    quotes: "\201C" "\201D";
    margin: 1em;
    color: hsl(198, 18%, 64%);
/*    color: var(--color-2);*/
    font-size: 1.4em;
    text-align: center;
}
.story blockquote::before, .story blockquote::after {
    content: open-quote;
    font-size: 2em;
    position: relative;
    top: 0.3em;
    line-height: 0;
}
.story blockquote::after{
    content: close-quote;
}
.story p.byline{
    font-style: italic;
    margin-bottom: 0.5em;
    color: hsl(198, 18%, 64%);
/*    color: var(--color-2);*/
    font-size: 1.2em;
}
p.byline span.author{
    margin-right: 2em;
}
p.byline span.pub{
    white-space: nowrap;
}
.foot{
    margin-top: 2em;
}
.foot p{
    
}

@media screen and (min-width: 600px) {
    .story img {
        width: 300px;
    }
}
@media screen and (min-width: 800px) {
    .story img {
        width: 400px;
    }
}